body{
    background-color: aqua;
}
body{
    background-color: blanchedalmond;
}

/* #navi{
    list-style-type: none;
} */
/* p{
    font-family: 'Courier New', Courier, monospace;
    font-size: larger;
    color:rgb(255, 99, 71);
} */
 /* #main{
    background-color: wheat;
 } */